.background {
    height: 100%;
    width: 100%;
    background-image: url('../../Img/_2893563b.jpg');
    background-position: center;
    background-size: cover;
    position: fixed;
    text-align: center;
}

.logo {
    width: 900px;
    height: 400px;
}

.title {
    font-size: 70px;
    color: black;
    margin-top: 0;
}

.button {
    font-size: 30px;
    color: white;
    width: 100px;
    height: 50px;
    border-radius: 10%;
    background-color: rgb(62, 62, 255);
}

.button:hover {
    cursor: pointer;
    color: rgb(62, 62, 255);
    background-color: rgba(255, 255, 255, 0.637);
}

.content {
    margin: auto;
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    padding: 0;
    flex-direction: row;
}

.li {
    height: 3em;
    width: 3em;
    padding: 0;
}

.li:hover {
    cursor: pointer;
    transform: translateY(-5px);
}

.git {
    height: 3.45em;
    width: 3.45em;
    transform: translateY(-5px);
}

.git:hover {
    cursor: pointer;
    transform: translateY(-10px);
}
